<template>
    <el-row :gutter="20" type="flex" justify="center">
        <InputItem item-value="comment" item-store="TodoComment" v-on:add-todo-input="addTodo"/>
        <ButtonItem v-on:add-todo-input="addTodo"/>
    </el-row>
</template>

<script>
    import InputItem from '../components/InputItem';
    import ButtonItem from '../components/ButtonItem';

    export default {
        name: "TodoInput",
        components: {InputItem, ButtonItem},
        methods: {
            addTodo() {
                const comment = this.$store.state.TodoComment.comment;
                if (!comment) return;

                this.$store.commit('TodoList/add', comment);
                this.$store.commit('TodoComment/update', {
                    itemValue: 'comment',
                    currentValue: ''
                });
            }
        }

    }
</script>

<style scoped>

</style>