<template>
    <el-col :span="20">
        <el-input placeholder="Please enter the todo." v-model="comment" @keyup.enter.native="$emit('add-todo-input')" clearable></el-input>
    </el-col>
</template>

<script>
    export default {
        name: "Input",
        computed: {
            comment: {
                get() {
                    return this.$store.state[this.itemStore][this.itemValue];
                },
                set(comment) {
                    this.$store.commit(this.itemStore + '/update', {
                        itemValue: this.itemValue,
                        currentValue: comment
                    });
                }
            }
        },
        props: ['add-todo-input', 'item-value', 'item-store']
    }
</script>

<style scoped>

</style>